.animationIceSkating {
   animation: animation 3s infinite linear;
   animation-direction: alternate;
}


@keyframes animation {
    0%{
        transform: translateX(0);
    }
    100%  {
        transform: translate(900px,0px)
    }
}
.animationIceSkatingLeave {
    animation: animation 1s;
}
